@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
#comingsoon {
text-align: center;
font-family: 'Mochiy Pop P One', sans-serif;
font-size: 85px;
}
.price {
background-color: green;
}
